{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Personal Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="en" content="open source x/html and css templates">
    <meta name="author" content="mlp design">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"> 
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">  
</head>
<body>   


    <!--start wrapper-->
<div id="wrapper">

    <!--start body-->
    <div id="body">
    
    
        
    <!--start header-->
        <div id="banner">
            <h1 style="color: black;">Safwan Nasar Ahmed</h1>
            <p style="color: black;"><b>Python Developer</b></p>
            <img style="width: 100px; height: 100px; float: right;margin-top: -100px;" src="{% static 'images/Profile photo.jpg' %}" alt="Nothing"> 
        </div> 


    <!--end of header-->


    
    <!--start containter-->
        <div id="container">
                
            <!--start content-->
            <div id="content">

                <!--post item-->
                <div class="item">
                    <h1 style="color: black;"><b>HIGHLIGHTS</b></h1>
                    <p>I'm an intermediate student who is actively honing my Python skills for scripting and
                        backend development. I use the Django framework to create scalable and effective web
                        apps. Furthermore, I am proficient in front-end technologies like HTML, CSS, and
                        JavaScript, which allows me to design user interfaces that are both interactive and
                        aesthetically pleasing. My broad skill set makes me a strong contender for full-stack
                        web development roles.</p>
                </div>
                <br><br>

                <!--another post item-->

                <!--end of another post item-->	
                <div class="item">
                    <h1 style="color: black;"><b>EDUCATION</b></h1>
                    <ul>
                        <li><b>Malabar College Of Arts And Science</b></li>
                        <p>Kozhikode<br>Bachelor of Computer Applications<br>2020 - 2023</p>
                    </ul> 
                    
                    <ul>
                        <li><b>Codeme Hub International</b></li>
                        <p>kozhikode <br>June 2023 - March 2024 <br>Python Develper Intern</p>
                    </ul>
                </div>
                <br><br>
                
                <div class="item">
                    <h1 style="color: black;"><b>SKILLS</b></h1>
                    <ul>
                        <li>Teamwork and attention to detail.</li>
                        <li>Communication Skill</li>
                        <li>Typing Skills</li>
                        <li>Dedication towards work</li> 
                    </ul>
                </div>
                <br><br>

                <div class="item">
                    <h1 style="color: black;"><b>PROFICIENCIES</b></h1>
                    <ul>
                        <li>Javascript</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Python</li>
                        <li>Django</li>
                    </ul>
                </div>
                <br><br>
            </div>
            <!--end of content-->
    
        </div>
        <!--end of container-->
    
    </div>
    <!--end of body-->                                       